.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #333333;
  color: #ffffff;
}

.app.dark .App-header {
  background-color: #1a1a1a;
}